div.sidebar {
	background-image: url(kopi.jpg);
	position: fixed;
	left: 0px;
	width: 220px;
	height: 100%;
	transition: all 0.5s ease;
    margin-bottom: 250px;
}
h2 {
    text-align: center;
    margin: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float:left;
    padding: 20px;
}
li a{
    font-size: 20px;
    color:blue;
    text-align:center;
    padding:10px;
    text-decoration:none;
}
div h1{
    display: block;
    text-align: center;
    color: blue;
    padding-top: 200px;
}
form {
    display: block;
    text-align: center;
}
body{
    height: 100vh;
    background-image: url(laptop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}